__pycache__/db1.cpython-39.pyc
__pycache__/Database.cpython-39.pyc
D:\Projects\assignments\git first\shpping product\Price-Tracker\env
D:\Projects\assignments\git first\shpping product\Price-Tracker\.vscode
D:\Projects\assignments\git first\shpping product\Price-Tracker\__pycache__
D:\Projects\assignments\git first\shpping product\Price-Tracker\README.md